<h2>Upload Scorm</h2>
<hr>
<%#binding.pry%>
<%=	form_for(scorms_path, url:{action:"create"})	do	|f|	%>
	<%=	render 'form',	f:	f	%>
	<div	class="form-group">
			<div>
					<%=	f.submit	"Upload	Scorm",	class:	"btn	btn-primary"	%>
					<%=	link_to	'Back',	free_learn.scorms_path,	class:	'btn	btn-default'	%>
			</div>
	</div>
<%	end	%>
