<div class="tool">
	<div class="game_gallery">
		<div class="row">
			<div class="col-md-6">
				<h1>SCORM GALLERY</h1>
				<a class="btn btn-primary" href= <%= free_learn.scorm_gallery_path %> ><%= t :go %></a>
			</div>
			<div class="col-md-6">
				<h1>GAMES GALLERY</h1>
				<a class="btn btn-primary" href= <%= free_learn.games_gallery_path %> ><%= t :go %></a>
			</div>
		</div>
	</div>
</div>
