<div class="header-container">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-centered">
            <div class="marketing">
                <h1 class="text-center">FreeLearn</h1>
                <hr/>
                <h4 class="text-center">An open platform for games inside courses.</h4>
                <a href="#solution-section">
                    <a href="/games" ><button id="marketing-button" class="center-block btn btn-primary btn-lg">Get started</button></a>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="features-container">
    <div class="container">
        <div class="features">
            <h1>Features</h1>
            <hr class="blue"/>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-users"></i>
                        <h3>Research Groups</h3>
                        <p>This is a website made for politics researchers and journalist. But anyone can use it!</p>
                        <p>If you normally work together, investigate together, make things together.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-line-chart"></i>
                        <h3>Simulations</h3>
                        <p>We provide you a great tool to make your research easier. Do you wonder who is going to win next elections but only have a few data polls?</p>
                        <p>Put your data down, and stop speculating, we give you quick statistical results you can rely on.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-comments"></i>
                        <h3>Communication</h3>
                        <p>You are doing great work. You don't need e-mail, or WhatsApp. Post in your dashboard and your mates can see your results.</p>
                      <p>Dashboards provide a great enviroment to keep the track on your simulation projects.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-share-alt "></i>
                        <h3>Post your results</h3>
                        <p>Do you want to post your results in your social networks? Do you want to use it for your blog or your news paper?</p>
                        <p>You can embed your result in any webpage as we provide you a public link if you need it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
