<div class="header-container">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-centered">
            <div class="marketing">
                <h1 class="text-center">FreeLearn</h1>
                <hr/>
                <h4 class="text-center">An open platform for games inside courses.</h4>
                <a href="#solution-section">
                    <a href="/games" ><button id="marketing-button" class="center-block btn btn-primary btn-lg">Get started</button></a>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="features-container">
    <div class="container">
        <div class="features">
            <hr class="blue"/>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-users"></i>
                        <h3>Education in an E-learning Environment</h3>
                        <div class="welcome-body">
                            <p>Have you, as a teacher, ever felt like your activities were becoming repetitive or outdated? </p>
                            <p>Do you ever think, “How can I get my students to practice exercises in a way that is both effective and appealing?”</p>
                            <p>Here, you can create your own personalized game by using our user-friendly editor to add customized questions, images, videos and much more!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-line-chart"></i>
                        <h3>Fast and Easy to Use</h3>
                        <div class="welcome-body">
                            <p>The editor is a great tool to make your educational game just like what you have been searching for – all in an e-learning environment.</p>
                            <p>Are you busy with making lesson plans for the new week, but you have a test coming up on Friday?</p>
                            <p>Or have you been wanting to try something new and exciting with your class?</p>
                            <p>Fill- in your questions, answers and multi-media, and we will generate the game for you! </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-comments"></i>
                        <h3>Variety</h3>
                        <div class="welcome-body">
                            <p>Don’t worry about students getting bored of the same game. We have a variety of games to choose from.</p>
                            <p>Whether the student is fond of adventures, puzzles or spaceships – there is something here for everybody!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feature-box text-justify">
                        <i class="fa fa-4x fa-share-alt "></i>
                        <h3>Motivational</h3>
                         <div class="welcome-body">
                            <p>And what is even better is that the game will take the students through different courses and levels of difficulty. There is even an e-learning rewards system after the successful completion of a course. A chest will open up, and the student will receive a prize from inside.</p>
                            <p>Unlike with most games – there is not a “Game Over”.  Students can continue practicing and reviewing without the frustration of having to repeat a previous course.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
