
<div id="editor_wrapper">
	<iframe id="presentation_editor_iframe" src="<%=free_learn.editor_full_path(:format => :full)%>" width="1200" height="750" style="border:0" iframeborder="0" frameborder="0" iframeElement.frameBorder=0; webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true"></iframe>
</div>

</div>




<script>	
/*
Vish::Application.config.full_domain
documents_path :format=> "json"
excursion_path @excursion, :format=> "json"
pdfexes_path :format=> "json"
Vish::Application.config.APP_CONFIG['YouTubeAPIKEY'].nil?
"/lre/search"
Vish::Application.config.APP_CONFIG['soundCloudAPIKEY'].nil? 
Vish::Application.config.APP_CONFIG['YouTubeAPIKEY']
 Vish::Application.config.APP_CONFIG['EuropeanaAPIKEY']
raw Vish::Application.config.catalogue["categories"].map{|c| c.capitalize}.to_json
Vish::Application.config.tagsSettings["maxLength"]
*/
	options = {};
	var configuration = {};

	configuration["mode"] = "vish";

	configuration["ImagesPath"] = "/assets/";
	configuration["StylesheetsPath"] = "/assets/";

	configuration["rootPath"] = "/todo";

	configuration["Upload"] = true;
	configuration["uploadImagePath"] = "/todo";
	configuration["uploadObjectPath"] = "/todo";
	configuration["uploadPresentationPath"] = "/todo";
	configuration["uploadPDF2PPath"] = "/todo";

	// Sources enabled
	configuration["ViSH"] = false;
	configuration["ViSH_instances"] = ["/todo"];
	configuration["Flickr"] = false;

	configuration["Vimeo"] = false;
	configuration["LRE"] = false;
	configuration["LRE_path"] = "/lre/search";
	

	configuration["presentationSettings"] = true;
	

	options["configuration"] = configuration;
	

	options["developping"] = false;


		options["user"] = {
			name: "name",
			id: "1",
			token: ""
		};

	options["draft"] = "";

	options["lang"] = "<%= I18n.locale.to_s%>";

	options["exitURL"]  = "/";


	options.addons = [];

	var addon = new Object();
	addon.target = "Both";
	addon.id = "IframeMessenger";
	addon.config = {enable: true};
	options.addons.push(addon);

	function start(){
		VISH.Editor.init(options, <%= raw @excursion.to_json%> );
	}
</script>
