<!DOCTYPE html>
<html>
<head>
  <title>Scorm creator</title>
  <%= stylesheet_link_tag    "free_learn/scorm_creator/application", media: "all" %>
  <%= javascript_include_tag "free_learn/scorm_creator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
